.checkboxWrapper {
  width: fit-content;
}
.labelCheckbox:hover,
#incheckbox:hover {
  cursor: pointer;
}
.Left {
  margin-right: 5px;
}

.Right {
  float: right;
  margin-top: 6px;
  margin-left: 5px;
}

.Up {
  display: block;
}

.Down {
  display: block;
}

.none {
  display: none;
}

#incheckbox[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #808080;
  content: "";
  background: #fff;
}

#incheckbox[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -15px;
  width: 11px;
  height: 11px;
  border: 1px solid gray;
  content: "";
  background-color: white;
}

#incheckbox[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAe1BMVEUAAAD8/vz////4+vj5+/mdnp3U1tR8fXyam5pgYWAxMTFdXl0lJSXx8/EiIiK1trXp6+lSU1IqKirb3dvl5+V1dnVnaGeVlpW7vbuMjYzLzcvFxsUcHBxHSEdZWVk1NjU9PT2vsK+EhYRxcnGNjo0RERGmqKZBQkEUFBQNPCGsAAAG7ElEQVR4nO1di3baMAxtnKwFBi2vsa5Pytqu//+FA1oKhCTI19eRxeF+AOgeyZaily8uzjjjjDPOaED35XKFl662IJHQnbgNJj+1hYmBhXPZBkuO2uLwsdjy++T4V1siNrIy3P2ztkxMvA3dIcXiSlssIn4cElxxvLvWFoyF50qCS4qDP9qicdDLqwmuLpxLbeEouK1R4Zrj9AT8/68Ggis1vmgLGIqnJn6fF85cW8YwTBpV+KnGhbaQIXg/SnDF8VZbTBzNh3BLsehpS4piIGOYufyHtqgY7oUE15b6pi0tgCs5wVWEoy2uPz6kNvpFcfigLbEvpl4ElxStOX+Ro9hDPtaW2QuPtQF3vRLftYX2wvFgpgKWTuJvhKAzZKaPCMHMGfrqv8QY/tKWW4ymr96T0KEw4D5kaOYcVmQPRQSH2oJLcYOq0EoKtQsSzDIjefCH/NRVCNvovbbkQryiBAdGLtJ/6CF0VlL8d6gK77QlF2KBqrDQllyIa9hGrUSkvomLb4JWKvuwjTptyYV4gwkaaVx4AANuO3UL/+TaFwoj8SiWuMgMxaMgPzu+HkxcLONRI6mLp5OPR+F71ErDycup+/oZTHCmLboQcDxq5R7FMtwrGLlHoSrMWoVGfP3Yr5q9Q9BKPIomLrLcSBcN/lFopNtrDvKzc496dAXtE7TSP4MW0szY6AVM0EruCeq4WDPUllwIr861PYJG+rvfQH6Zu9EWXQg0HjVzj1bPwkgYGkmu9WCCVpoQ4YA715ZcCLSanblHbdFlGIH8MmelaR1OXEyNtKzDRQpnZM4ZTwBb6QNG41E31ZZcCNzXG7FRPHFhpEhxDfv6U09cZPlcW3QZ8MTFb23RZegVKEErhTS02JsVH9qiy4AX0k4+uWbF15+Ta7UEjRTS8O96K74eLqS5ubboMpx8Ie1hgBK04uvhrqDcSH4U7wp60hZdhhEcj1pJAMOJi6GReLRz6o1dI5iglUIabqPakguBTqSZKfbihTQrQ4VowG3mmwlPABsppOGJCyNFir7/HpYvggMju0rwYi81mLnqTCeT6VWEITC8kPZKlGKRbxYtT+kxEkyQ6Ot7O507jj1vCnepO94hvN5fYsDtnv6TQOKiU5SEYOYM/sIEecm1ilEAYu8mmrgg+vrKzzYaRdxR0O7RmmEOkqF+wARpd0HttApHi2hXUFaw7tGGzAKDov5EWuO8EcH3w8k1VuLiyECVC+1dwScpSJ1rxyfG3Cjk9/HcE2mVjiS7F6RF7a4g2cxfQB4ItlGSL5YONcIlA7zYG3Q0vAnifwjXmTotE0QNFd6QwAm4/eZuEYrwJ0VGSVz4Dhb7Gyo+2Uv5/PYvAnlfN/DaPErAPQb+3dNQ0dWOnLV5fciAvFy/8iod8IPG5yzCE2mUexTPm4i1iG5III3cwU1J4rM417XRPkxQfKPCxV5O4gS5SP0ooo1drPbRIIYiQ4X/gDQqEsZQcN3AE2msrqBAhkedBlrsJY4uwznojSiNWpzDtVDeHha4w/NblqazCN+jxGo2vCtlK039jars678AVxK28tSdRTwe/cdkyKBYY6hwPMpJXMSniNZCI4wuxzFUfI0zmx+H4uF1AyfXorSPoq8P7MhVNlQ4cRFnVKRHoLjv+uE3KYi+nk5x9yzik73RRkX6XC2igwYx20f75R4TQLzvswgX0qLuBWQY6uZG1S6k1WBMO4twIS32yB3jLK4MFW1IaGEPC0OL3QBf38KOix7hunmFA+5WRkUYhpr4HhYCRRRtjTMRnAaEFncA61BsdeeaiqG2uxeQ4DS8CbY8Ftq6oba/F7BtLZK6gnwAD+5gBDV2BT23qESlPSzwAB3AUIVgwKy1N0G1R+Baoqi546IdQ1Xdw9IGReW9gPENVX1XUHSKxVyZYWxDTWE5Z1QtpjGbHZGiG6bxeFE8Q01mD0ssigk9XhTHUJPawxKFYloPvkYw1NT2sETQojalMjpoLrsGCe5h+UnN3SS5z4pQttkSTHOBLDNV3NcmUw0aRXrnGg2kVHFSvr4EDkXiHhY+GIaa+ALZ8IR/8gtkgw01QV9fQqAWLTxoEHQWbbzEGGKoefI2ugYewKWRexIANVQbNroG2KyZTO5JAOgsJpR7EgCgmHI8WgX/s6hXCwXh6/pTyz0J4GeoycejVfDSYvrxaBU8zqKFeLQKYkM15OtLkFK08ghcBWSGaubB1ypIAjhrvr6E44Zq5mXwOhx1GmYe2KrFkbNoMJg5wLhpZNTMy+DNaKBo6aOwCbUUTTuKPdRQVO9cI2KWHXJ0Zp6fEmE0KZfC3dTIwzdizAZuh6TLreQOffB0Odk8HJG/p1xFC8Hj8/3tErM02vLOOOMMbfwHGDJnlSj4S0gAAAAASUVORK5CYII=");
  background-size: cover;
}

#incheckbox[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAe1BMVEUAAAD8/vz////4+vj5+/mdnp3U1tR8fXyam5pgYWAxMTFdXl0lJSXx8/EiIiK1trXp6+lSU1IqKirb3dvl5+V1dnVnaGeVlpW7vbuMjYzLzcvFxsUcHBxHSEdZWVk1NjU9PT2vsK+EhYRxcnGNjo0RERGmqKZBQkEUFBQNPCGsAAAG7ElEQVR4nO1di3baMAxtnKwFBi2vsa5Pytqu//+FA1oKhCTI19eRxeF+AOgeyZaily8uzjjjjDPOaED35XKFl662IJHQnbgNJj+1hYmBhXPZBkuO2uLwsdjy++T4V1siNrIy3P2ztkxMvA3dIcXiSlssIn4cElxxvLvWFoyF50qCS4qDP9qicdDLqwmuLpxLbeEouK1R4Zrj9AT8/68Ggis1vmgLGIqnJn6fF85cW8YwTBpV+KnGhbaQIXg/SnDF8VZbTBzNh3BLsehpS4piIGOYufyHtqgY7oUE15b6pi0tgCs5wVWEoy2uPz6kNvpFcfigLbEvpl4ElxStOX+Ro9hDPtaW2QuPtQF3vRLftYX2wvFgpgKWTuJvhKAzZKaPCMHMGfrqv8QY/tKWW4ymr96T0KEw4D5kaOYcVmQPRQSH2oJLcYOq0EoKtQsSzDIjefCH/NRVCNvovbbkQryiBAdGLtJ/6CF0VlL8d6gK77QlF2KBqrDQllyIa9hGrUSkvomLb4JWKvuwjTptyYV4gwkaaVx4AANuO3UL/+TaFwoj8SiWuMgMxaMgPzu+HkxcLONRI6mLp5OPR+F71ErDycup+/oZTHCmLboQcDxq5R7FMtwrGLlHoSrMWoVGfP3Yr5q9Q9BKPIomLrLcSBcN/lFopNtrDvKzc496dAXtE7TSP4MW0szY6AVM0EruCeq4WDPUllwIr861PYJG+rvfQH6Zu9EWXQg0HjVzj1bPwkgYGkmu9WCCVpoQ4YA715ZcCLSanblHbdFlGIH8MmelaR1OXEyNtKzDRQpnZM4ZTwBb6QNG41E31ZZcCNzXG7FRPHFhpEhxDfv6U09cZPlcW3QZ8MTFb23RZegVKEErhTS02JsVH9qiy4AX0k4+uWbF15+Ta7UEjRTS8O96K74eLqS5ubboMpx8Ie1hgBK04uvhrqDcSH4U7wp60hZdhhEcj1pJAMOJi6GReLRz6o1dI5iglUIabqPakguBTqSZKfbihTQrQ4VowG3mmwlPABsppOGJCyNFir7/HpYvggMju0rwYi81mLnqTCeT6VWEITC8kPZKlGKRbxYtT+kxEkyQ6Ot7O507jj1vCnepO94hvN5fYsDtnv6TQOKiU5SEYOYM/sIEecm1ilEAYu8mmrgg+vrKzzYaRdxR0O7RmmEOkqF+wARpd0HttApHi2hXUFaw7tGGzAKDov5EWuO8EcH3w8k1VuLiyECVC+1dwScpSJ1rxyfG3Cjk9/HcE2mVjiS7F6RF7a4g2cxfQB4ItlGSL5YONcIlA7zYG3Q0vAnifwjXmTotE0QNFd6QwAm4/eZuEYrwJ0VGSVz4Dhb7Gyo+2Uv5/PYvAnlfN/DaPErAPQb+3dNQ0dWOnLV5fciAvFy/8iod8IPG5yzCE2mUexTPm4i1iG5III3cwU1J4rM417XRPkxQfKPCxV5O4gS5SP0ooo1drPbRIIYiQ4X/gDQqEsZQcN3AE2msrqBAhkedBlrsJY4uwznojSiNWpzDtVDeHha4w/NblqazCN+jxGo2vCtlK039jars678AVxK28tSdRTwe/cdkyKBYY6hwPMpJXMSniNZCI4wuxzFUfI0zmx+H4uF1AyfXorSPoq8P7MhVNlQ4cRFnVKRHoLjv+uE3KYi+nk5x9yzik73RRkX6XC2igwYx20f75R4TQLzvswgX0qLuBWQY6uZG1S6k1WBMO4twIS32yB3jLK4MFW1IaGEPC0OL3QBf38KOix7hunmFA+5WRkUYhpr4HhYCRRRtjTMRnAaEFncA61BsdeeaiqG2uxeQ4DS8CbY8Ftq6oba/F7BtLZK6gnwAD+5gBDV2BT23qESlPSzwAB3AUIVgwKy1N0G1R+Baoqi546IdQ1Xdw9IGReW9gPENVX1XUHSKxVyZYWxDTWE5Z1QtpjGbHZGiG6bxeFE8Q01mD0ssigk9XhTHUJPawxKFYloPvkYw1NT2sETQojalMjpoLrsGCe5h+UnN3SS5z4pQttkSTHOBLDNV3NcmUw0aRXrnGg2kVHFSvr4EDkXiHhY+GIaa+ALZ8IR/8gtkgw01QV9fQqAWLTxoEHQWbbzEGGKoefI2ugYewKWRexIANVQbNroG2KyZTO5JAOgsJpR7EgCgmHI8WgX/s6hXCwXh6/pTyz0J4GeoycejVfDSYvrxaBU8zqKFeLQKYkM15OtLkFK08ghcBWSGaubB1ypIAjhrvr6E44Zq5mXwOhx1GmYe2KrFkbNoMJg5wLhpZNTMy+DNaKBo6aOwCbUUTTuKPdRQVO9cI2KWHXJ0Zp6fEmE0KZfC3dTIwzdizAZuh6TLreQOffB0Odk8HJG/p1xFC8Hj8/3tErM02vLOOOMMbfwHGDJnlSj4S0gAAAAASUVORK5CYII=");
  background-size: cover;
}
