body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  background-image: url("../../pictures/linear-gradient-pink-turquoise-1920x1080-c2-de71bb-03f59f-a-330-f-14.svg");
  background-repeat: no-repeat;
  height: 100vh;
}

.loginWrapper {
  height: 100vh;
}

.loginContent {
  width: 30%;
  margin: auto;
  top: 15vh;
  height: 75%;
  min-width: 250px;
  text-align: left;
  position: relative;
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 9px;
}

h2 {
  text-align: center;
}

.inputFields {
  text-align: center;
  padding: 5px;
}

.label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
input {
  margin: 10px 0px;
}
.inputFields label {
  cursor: pointer;
}

.loginContent h2 {
  padding-top: 26px;
}

.userLogoWrapper img {
  width: 60px;
  margin-bottom: 5%;
}
.userLogoWrapper {
  text-align: center;
}

.loginButtonWrapper {
  text-align: center;
  margin-top: 5px;
}

.networkIcons img {
  width: 35px;
  margin: 5px;
}

.networkIcons {
  text-align: center;
  cursor: pointer;
}

.signUpWith {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: grid;
  margin: 15px 0 5px 0;
}
