#tabsContainer {
  display: flex;
  position: absolute;
  height: 45px;
  width: 100%;
}
#tabsContainerScroll {
  display: flex;
  position: absolute;
  height: 45px;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}
#tabItem {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  color: rgba(167, 156, 156, 0.788);
}
#tabItem:hover {
  color: rgb(108, 8, 148);
  font-weight: bold;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  cursor: pointer;
}
#tabItemSelected {
  color: rgb(108, 8, 148);
  font-weight: bold;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  padding: 10px;
  cursor: pointer;
}
#childrens {
  position: relative;
  top: 50px;
}
#lineSelected {
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgb(108, 8, 148);
  animation-name: lineAnimation;
  animation-duration: 1s;
}

@keyframes lineAnimation {
  from {
    opacity: 0;
    margin-left: -300px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
#lineSelectedSmaller {
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgb(108, 8, 148);
  animation-name: lineAnimationSmaller;
  animation-duration: 1s;
}
#lineSelectedFirstLoad {
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgb(108, 8, 148);
}
@keyframes lineAnimationSmaller {
  from {
    opacity: 0;
    margin-left: 300px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}

#tabItemScroll {
  position: relative;
  width: 100%;
  min-width: 150px;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  color: rgba(167, 156, 156, 0.788);
}
#tabItemScroll:hover {
  color: rgb(108, 8, 148);
  font-weight: bold;
  position: relative;
  width: 100%;
  min-width: 150px;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px;
  cursor: pointer;
}
#tabItemSelectedScroll {
  color: rgb(108, 8, 148);
  font-weight: bold;
  position: relative;
  width: 100%;
  min-width: 150px;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  padding: 10px;
  cursor: pointer;
}
